<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLx3IcTxwlBd4RSm-Tf-oa4pP7WgEhaKc</string>
	<key>GCM_SENDER_ID</key>
	<string>81716928099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appliMusic.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>appli-music-d7341</string>
	<key>STORAGE_BUCKET</key>
	<string>appli-music-d7341.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81716928099:ios:caf08e71a2ef42f06ae256</string>
</dict>
</plist>